* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

:root{
--dark: #002301ff;
--heading: #014A13ff;
--light: #21C47Bff;
--border: #14A45Cff;
}

header{
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  background-color: var(--light);
  color: var(--dark);
  width:25%;
  padding: 10px 10px 10px 180px;
  margin: 10px 10px 10px 0;
}

nav li, nav a{
  color: var(--light);
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.hero-banner {
  background-image: url(../images/lisa-yount-zcZPjDqG-Ao-unsplash.jpg);
  height: 250px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-img {
  background-image: url(../images/mina\ memoji.png);
  background-repeat: no-repeat;
  background-size: contain;
  width:200px;
  height:200px;
  border-radius: 150px;
  position: relative;
  margin: 15px 0 0 15px;
}

.hero-banner h2 {
  background-color: var(--light);
  position: relative;
  margin-top: 180px;
  height: 50px;
  padding: 10px 120px 10px 10px;  
}

.page-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "sectionTitle sectionInfo"
}

.section-header {
  grid-area: sectionTitle;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 25px;
  padding-right:15px;
  border-right: 5px solid var(--border);
  color: var(--heading);
}

.section-info {
  grid-area: sectionInfo;
}

#about-info {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--dark);

}

#grid-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "work1 work1"
  "work2 work3"
  "work4 work5";
}

#work1 {
  grid-area: work1;
  background-image: url(../images/02-portfolio-1.jpg);
}

#work2 {
  grid-area: work2;
  background-image: url(../images/02-portfolio-2.jpg);
}

#work3 {
  grid-area: work3;
  background-image: url(../images/02-portfolio-3.jpg);
}

#work4 {
  grid-area: work4;
  background-image: url(../images/02-portfolio-4.jpg);
}

#work5 {
  grid-area: work5;
  background-image: url(../images/02-run-buddy.jpg);
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--light);
  margin: 0 15px 15px 0;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.grid-item:hover {
  opacity: 1;
  cursor: pointer;
}

.workTitle {
  position:relative;
  margin-top: 120px;
  background-color: var(--light);
  width: fit-content;
  padding: 5px;
}

#container-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contact-child a{
  color: var(--dark);
}

.contact-child a:hover {
  color:var(--light);
}

@media only screen and (max-width:991px) {

}

@media only screen and (max-width:767px) {
  
}